body {
	font-family: Arial, sans-serif;
	background-color: #f0f0f0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}

.container {
	text-align: center;
}

.scene {
	display: none;
}

h1,
h2 {
	color: #333;
}

pre {
	background-color: #222;
	color: #eee;
	padding: 10px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#call-to-action h2 {
	color: #007bff;
}
